extends layout.jade

block content
    div
        h3 Reports available
        ul#report_list
            each value, index in reports
                li
                    a(href="/reports/download/"+value.name)= value.title